$liteBlue: #42A5F5;
$blue: #2196F3;
$deepBlue: #0D47A1;

$liteRed: #EF5350;
$red: #F44336;
$deepRed: #DD2C00;

$liteOrange: #FFB74D;
$orange: #F57F17;
$deepOrange: #E65100;

$liteGreen: #9CCC65;
$green: #8BC34A;
$deepGreen: #1B5E20;

$liteGray: #E0E0E0;
$gray: #616161;
$deepGray: #424242;

$blackColor: #000000;
$whiteColor: #FFFFFF;

$mainFont: 'Roboto', sans-serif;

$h1FontSize: 38px;
$h2FontSize: 30px;
$h3FontSize: 24px;
$h4FontSize: 20px;
$smallTextFontSize: 10px;
$paragraphFontSize: 16px;
