$liteBlue: #42a5f5;
$blue: #2196f3;
$deepBlue: #0d47a1;

$liteRed: #ef5350;
$red: #f44336;
$deepRed: #dd2c00;

$liteOrange: #ffb74d;
$orange: #f57f17;
$deepOrange: #e65100;

$liteGreen: #9ccc65;
$green: #8bc34a;
$deepGreen: #1b5e20;

$liteGray: #e0e0e0;
$gray: #616161;
$deepGray: #424242;

$blackColor: #000000;
$whiteColor: #ffffff;

$mainFont: "Roboto", sans-serif;

$h1FontSize: 38px;
$h2FontSize: 30px;
$h3FontSize: 24px;
$h4FontSize: 20px;
$smallTextFontSize: 10px;
$paragraphFontSize: 16px;
